.topbar{
  background-color: #000;
  text-align: center;
  padding: 12px 0;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}
.main{
  /* background-color: #f7f7f7; */
}
.mainInfo{
  padding: 40px 0;
}
.mainCopy{
  padding: 20px 0;
  font-size: 13px;
  color: var(--color-default);
  text-align: left;
  border-top: 1px solid var(--color-border);
}
.mainPay{
  display: flex;
}
.mainPay div{
  position: relative;
  height: 30px;
  margin-left: 10px;
}
.mainPay div img{
  position: relative !important;
  max-width: 80px;
}
.company{
  width: 400px;
}
.companyLogo{
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #f7f7f7;
  /* border-radius: 15px; */
}
.companyLogo img{
  transform: scale(0.7);
  object-fit: contain;
  object-position: center;
}
.topic{
  font-size: 17px;
  font-weight: 500;
}
.sitemap{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sitemap li{
  margin-top: 5px;
}
.sitemap a{
  font-size: 14px;
  text-decoration: none;
  color: var(--color-gray);
}