.container {
  max-width: 1200px;
  margin: 0 auto;
  /* max-width: 90%; */
  /* margin: 1rem auto; */
}

.brandContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* min-height: 100px; */
}

.link{
  display: block;
  text-align: center;
  color: var(--color-default);
  font-size: var(--typo-xs);
  text-decoration: none;
}

.cover{
  padding-top: 100%;
  margin-bottom: 0.75rem;
  position: relative;
  background-color: #F7F7F7;
}

.logoImage {
  width: 100%;
  position: relative;
  /* position: relative; */
  /* width: 100px; */
  /* height: 100px; */
  /* width: 75px;
  height: 75px; */
  /* border-radius: 50%; */
  /* background-color: #F7F7F7; */
}

.image{
  object-fit: contain;
  object-position: center;
}
