.container {
  max-width: 1200px;
  margin: 0 auto;
  /* max-width: 90%; */
  /* margin: 1rem auto; */
}

.brandContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* min-height: 100px; */
}

.logoImage {
  position: relative;
  width: 100px;
  height: 100px;
  /* width: 75px;
  height: 75px; */
  /* border-radius: 50%; */
  background-color: #F7F7F7;
}
