.container {
    width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.sectionTitle{
    text-align: center;
    font-weight: var(--fw-normal);
}

.sectionItems {
    /* margin-top: 2rem; */

    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-count: 3;
    gap: 50px; */

    /* display: inline-flex;
    flex-wrap: wrap;
    gap: 50px; */

    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}