.container {
    width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.sectionTitle{
    text-align: center;
    font-weight: var(--fw-normal);
}

.sectionItems {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}